*
{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 34,34);
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .mycard {
    position: relative;
    max-width: 300px;
    height: 420px;
    background: wheat;
    margin: 30px 10px;
    padding-left: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 50px rgba(0, 0,0,0.5);
    transition: 0.4 ease-in-out;
}

.container .mycard .cimg 
{
    position: relative;
    width: 260px;
    height: 260px;
}

.container.mycard.cimg img{
    max-width: 100%;
    border-radius: 6px;
}